<div class="container">
    <h2>Budget Utilized</h2>
    <table>
        <thead>
            <tr>
                <th>Budget ID</th>
                <th>Budget Assigned</th>
                <th>Budget Utilized</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let budget of rawBudgets">
                <td>{{ budget.budgetId }}</td>
                <td>{{ budget.budgetAssigned }}</td>
                <td>{{ budget.budgetUtilized }}</td>
               
            </tr>
        </tbody>
    </table>
</div>