<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Utilized</title>
    <link rel="stylesheet" href="budget-utilized.css">
</head>
<body>

    <div class="container">
        <h2>Budget Utilized</h2>
        <table>
            <thead>
                <tr>
                    <th>Clubs</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CSI</td>
                    <td>₹10</td>
                    <td>March 25, 2025</td>
                </tr>
                <tr>
                    <td>TSDW</td>
                    <td>₹1200</td>
                    <td>March 28, 2025</td>
                </tr>
                <tr>
                    <td>S4DS</td>
                    <td>₹750</td>
                    <td>March 29, 2025</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
